/* You can add global styles to this file, and also import other style files */
@import "~normalize-scss/sass/normalize";


html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top, #000000 98%, #01293f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #000000 98%, #01293f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #000000 98%, #01293f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#01293f', GradientType=0); /* IE6-9 */
}

@function box-shadow($stars) {
    $bxshadow: ();
    @for $i from 1 to $stars {
        $bxshadow: append($bxshadow, (random(2000) + 0px) (random(2000) + 0px) #fff, comma);
    }
    @return unquote($bxshadow);
}

$bxshadow-large: box-shadow(300);
$bxshadow-medium: box-shadow(500);
$bxshadow-small: box-shadow(800);

.stars.large {
    height: 3px;
    width: 3px;
    background: transparent;
    box-shadow: $bxshadow-large;
    animation: blink-large 7s infinite;
}

.stars.medium {
    height: 2px;
    width: 2px;
    background: transparent;
    box-shadow: $bxshadow-medium;
    animation: blink-medium 5s infinite;
}

.stars.small {
    height: 1px;
    width: 1px;
    background: transparent;
    box-shadow: $bxshadow-small;
    animation: blink-small 3s infinite;
}

@keyframes blink-large {
    0% {
        box-shadow: $bxshadow-large;
    }
    70% {
        $colors: '#fff', 'transparent';
        $stars: $bxshadow-large;
        @for $i from 1 to length($stars) {
            $star: set-nth(nth($stars, $i), 3, unquote(nth($colors, random(length($colors)))));
            $stars: set-nth($stars, $i, $star);
        }
        box-shadow: $stars;
    }
    100% {
        box-shadow: $bxshadow-large;
    }
}

@keyframes blink-medium {
    0% {
        box-shadow: $bxshadow-medium;
    }
    70% {
        $colors: '#fff', 'transparent';
        $stars: $bxshadow-medium;
        @for $i from 1 to length($stars) {
            $star: set-nth(nth($stars, $i), 3, unquote(nth($colors, random(length($colors)))));
            $stars: set-nth($stars, $i, $star);
        }
        box-shadow: $stars;
    }
    100% {
        box-shadow: $bxshadow-medium;
    }
}

@keyframes blink-small {
    0% {
        box-shadow: $bxshadow-small;
    }
    70% {
        $colors: '#fff', 'transparent';
        $stars: $bxshadow-small;
        @for $i from 1 to length($stars) {
            $star: set-nth(nth($stars, $i), 3, unquote(nth($colors, random(length($colors)))));
            $stars: set-nth($stars, $i, $star);
        }
        box-shadow: $stars;
    }
    100% {
        box-shadow: $bxshadow-small;
    }
}


