div {
    width: 100%;
    height: 400px;
    display: flex;
    float: right;
    justify-content: center;

    canvas {
        border: solid 1px white;
        float: left;
        width: 400px;
        height: 400px;
    }
}

#commands {
    background: #cccccc;
    width: 402px;
    height: 50px;
    margin: 0 auto;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: none;
        background: #252093;
        color: #cccccc;

        &:hover {
            cursor: pointer;
            background: #FF0000;
            font-weight: bold;
        }
    }

    .turn-left {
        border-radius: 50%;
    }
}
