<div>
    <canvas
        #mainCanvas
        height="400"
        width="400">
        Se você está vendo essa mensagem seu browser não suporta canvas.
    </canvas>
</div>
<div>
    <div id="commands">

        <button
            class="turn-left"
            (click)="turnLeft()"
        >
            L
        </button>

        <button
            class="move"
            (click)="move()"
        >
            M
        </button>

        <button
            class="turn-right"
            (click)="turnRight()"
        >
            R
        </button>

    </div>
</div>
